<form class="form-signin" (submit)="onLoginSubmit()">
  <img class="mb-4 offset-5" src="../assets/images/entrekids-icono.png" alt="" width="72" height="72">
  <h1 class="h3 mb-3 offset-4 font-weight-normal">Inicia sesión</h1>
  <label for="inputEmail" class="sr-only">Email</label>
  <input type="email" id="inputEmail" class="form-control" [(ngModel)]="username" name="username" placeholder="Email" required autofocus>
  <label for="inputPassword" class="sr-only">Contraseña</label>
  <input type="password" id="inputPassword" class="form-control" [(ngModel)]="password" name="password" placeholder="Contraseña" required>
  <div class="checkbox mb-3">
    <label>
      <input type="checkbox" [(ngModel)]="recuerdame" name="recuerdame" value="recuerdame"> Recordarme
    </label>
  </div>
  <flash-messages></flash-messages>
  <button class="btn btn-lg btn-primary btn-block" type="submit">Ingresa</button>
  <div class="row">
  <div class="fb-login-button mt-2 col-6" data-width="220" data-max-rows="1" data-size="large" 
  data-button-type="login_with" data-show-faces="false" data-auto-logout-link="false" 
  data-use-continue-as="false"></div><div class="g-signin2 col-6 mt-2" data-width="220" data-height="40" data-onsuccess="onSignIn"></div>
  </div>
  </form>
