<div class="container-fluid resultados " >
 
    <div class="container-fluid" style="margin-top: 44px;">
	    <div class="row">
            <div class=" col-12 col-md-3 " style="margin-top:5px;margin-right:10px;">
                <div class="row text-center">
                    <div routerLink="/resultados/calendario" routerLinkActive="activo" class="col-md-5 tipo-vista" style="border-radius: 4px 0px 0px 0px;">Calendario</div>
                    <div  routerLink="/resultados/lista" routerLinkActive="activo" class="col-md-4 tipo-vista" style="border-radius: 0px 0px 0px 0px;">Lista</div>
                    <div routerLink="/resultados/mapa"  routerLinkActive="activo"class="col-md-3 tipo-vista" style="border-radius: 0px 4px 0px 0px;">Mapa</div>
                </div>
             
                
             
                <div class="row filtros">               
                            <div class="col-md-4"><p class="horario-filtro mb-0" style="margin-top:20px;">{{h1[0]}}</p></div>
                            <div class="col-md-4 offset-md-4"><p class="horario-filtro mb-0" style="margin-top:20px;">{{h1[1]}}</p></div>
                 
                    <div class="col-md-11 tipo-filtro align-self-center pt-0">
                        <div class="slider" style="position: relative;">
                            <nouislider #nouislider [config]="sliderConfig" [(ngModel)]="rangoHorario"></nouislider>
                        </div>
                        
                    </div>
                    <hr class="separador">
                    <div class="col-md-12 tipo-filtro align-self-center">
                        Ubicación
                        <img class="flecha" (click)="ubicacionAux = !ubicacionAux" *ngIf="!ubicacionAux" src="../../../assets/images/iconos-buscador/flecha-azul.svg">
                        <img class="flecha" (click)="ubicacionAux = !ubicacionAux"*ngIf="ubicacionAux" src="../../../assets/images/iconos-buscador/flecha-azul-arriba.svg">
                   
                    </div>
                    <div *ngIf="ubicacionAux" class="caja-filtro" style="position: relative; overflow-y: scroll; overflow-x: hidden; max-height: 10rem;">
                            <div style="display:block; position: relative;" *ngFor="let comuna of comunasAux; let i=index;">
                                <span class="checkbox-filtro" (click)="seleccionComuna(i,$event);"   style="cursor: pointer;">                                    
                                </span>
                                <div class="comuna" style="display: inline-block;">
                                    {{comuna}}
                                </div>
                            </div>                         
                        </div>
                    <hr class="separador">
                    <div class="col-md-12 tipo-filtro align-self-center">
                        Edad
                        <img class="flecha" src="../../../assets/images/iconos-buscador/flecha-azul.svg">
                    </div>
                    <hr class="separador">
                    <div class="col-md-12 tipo-filtro align-self-center">
                        Categorias
                        <img class="flecha" src="../../../assets/images/iconos-buscador/flecha-azul.svg">
                    </div>
                    <hr class="separador">
                    <div class="col-md-12 tipo-filtro align-self-center">
                        Precios
                        <img class="flecha" src="../../../assets/images/iconos-buscador/flecha-azul.svg">
                    </div>
                    <hr class="separador">
                    <div class="col-md-12 tipo-filtro align-self-center">
                        Proveedores
                        <img class="flecha" src="../../../assets/images/iconos-buscador/flecha-azul.svg">
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-8 lista-resultados" style="margin-top:5px;">
                <div class="fleje-dias">
                    <div (click)="anteriorSemana()">
                        <i class="fas fa-chevron-left"></i>
                    </div>                              
                    <ul class="resultado-fleje-dias mb-0">
                        <li *ngFor="let dia of semana; let i=index;" [class.active]="selectedIndex === i" (click)="seleccionFecha(i)" class="dayTabWrapper">
                            <span class="dayTab" style="padding: 1rem; margin: auto; text-align: center; display: block;">
                                    {{dia | date:'EEE':'':'es-CL' | uppercase}}<br>
                                    {{dia | date:'dd/MM':'':'es-CL' | uppercase}}
                            </span>
                        </li>
                    </ul>
                    <div (click)="proximaSemana()">
                            <i class="fas fa-chevron-right"></i>
                        </div>  
                </div>
                <div class="row text-center">
                    <div class="col-md-5 offset-md-3">
                        <h2 class="titulo-dia">
                                {{semana[0] |date:'fullDate':'':'es-CL'}}
                        </h2>
                    </div>
                    <div class="col-md-4">
                            <div class="buscar">
                                    <input type="text" class="form-control buscar-actividad" [(ngModel)]="filtroActividadProveedor" name="filtroActividadProveedor" placeholder="Buscar por actividad o proveedor" style="padding-right:35px;height:30px;">
                                    <span aria-hidden="true" class="fas fa-search"></span>
                               </div> 
                    </div>
                </div>
                <hr class="separador">
                <div class="row detalle-resultados-actividad" routerLink="/resultados/detalles/{{actividad._id}}" *ngFor="let actividad of actividades | dateFilter: semana[0] | horariosFilter: rangoHorario | filtroComuna: comunas">
                    <div class="col-md-3" style="margin-left:-15px;">
                            <img class="resultado-actividad-imagen" src={{actividad?.fotos[0]}} alt="Card image cap">
                    </div>
                    <div class="col-md-4" style="padding-left: 10px; margin-top:9px;">
                        <h2 class="titulo-actividad mb-0">
                            {{actividad?.nombre}}
                        </h2>
                        <p class="detalles-actividad mb-0">
                            {{actividad?.proveedor.nombre}}
                        </p>
                        <p class="detalles-actividad mb-0">
                            Edad: {{actividad?.edadMinima}} - {{actividad?.edadMaxima}} años
                        </p>
                        <p class="direccion-actividad mb-0">
                            {{actividad?.direccion}} {{actividad?.numeroDireccion}}
                        </p>
                    </div>
                    <div class="col-md-1" style="margin-top:9px; padding-left:20px;">
                        <div class="icono">

                        </div>
                    </div>
                    <div class="col-md-3" style="margin-top:9px; padding-left:0px; padding-right: 0px;">
                        <h2 class="horario mb-0">{{actividad?.fechaInicio | date:'shortTime'}}</h2>
                        <p class="duracion mb-0">30 min</p>
                        <p class="precio-ek mb-0">Precio Entrekids: {{actividad?.plista - actividad?.dcto | currency:'':'':'1.0-0':'es-CL'}}</p>
                        <p class="precio-normal mb-0">Precio normal: {{actividad?.plista | currency:'':'':'1.0-0':'es-CL'}}</p>
                    </div>
                    <div class="col-md-1" style="margin-top:9px; padding-left:0px;">
                        <button class="btn btn-primary ver">
                            Ver
                        </button>
                        <p class="stock">
                            {{actividad?.stock}} cupos
                        </p>
                    </div>
                </div>
   
    </div>
</div>
</div>
   
       
</div>



  
