.foto-perfil {
    margin: 0 20px !important;
 }

.perfil {
    margin: 70px 0 0 0;
    padding-top: 45px;
    background-color: #f4f4f4;
    min-height: 100vh;
}

.selected {
    img {
        border: solid;
        border-color: rgba(0, 128, 0, 0.719);
        opacity: 0.9;
    }
}

.tarjeta {
    z-index: 10;
    width: 100px;
    height: 70px;
}
.numeros-tarjeta {
    font-size: 12px;
    
}

img:hover {
    opacity:0.6;
}

span:hover {
    opacity: 0.6;
}
.datos-perfil {
    margin: 2rem 1rem;
    div {
        margin: 10px 0;
    }
}

.list {
    width: 40px;
    height: 40px;
}

.fondo-gris{
    background-color: rgb(231,231,230);
  
 
}

.persona {
    width: 50px;
    height: 50px;
}

h2{
    font-family: 'BrandonText-Bold';
    color: rgb(119,119,120);
 
}

.card-text{
    font-family: 'Avenir Next Demi Bold';
    color: rgb(119,119,120);
}

.rrss{
    color: rgb(29,29,27);
    font-family: 'Avenir Medium';
}

.verificar{
    margin: 4% 0 0 0;
    padding-top: 45px;
    min-height: 80vh;
}

.pestañas {
	box-sizing: border-box;
	height: 53px;
	width: 666px;
	border: 1px solid rgba(200,200,200,0.37);
	border-radius: 3px;
    background-color: #FFFFFF;
    margin-top: 19px;
}

.informacion{
   
        box-sizing: border-box;
        min-height: 550px;
        width: 1080px;
        border: 1px solid rgba(200,200,200,0.37);
        border-radius: 4px 4px 0 0;
        background-color: #FFFFFF;
        margin-top: 19px;
    
}
.imagen {
	height: 151px;
	width: 200px;
	border-radius: 3px;
    background-color: #E6E6E6;
    
}
.subir-imagen{

        height: 38px;
        width: 200px;
        opacity: 0.78;
        border-radius: 0 0 4px 4px;
        background-color: #FFFFFF;
        box-shadow: 0 1.3px 2px 0 rgba(52,52,52,0.25);
        text-align: center;
        
    
}
.subir {
	height: 19px;
	width: 100%;
	opacity: 0.99;
	color: #777777;
	font-family: 'Avenir Book';
	font-size: 14px;
	font-weight: 500;
	line-height: 19px;
}

.ek{
   
        height: 199px;
        width: 200px;
        border-radius: 3px;
        background-color: #E6E6E6;
    
}

/* .indicador-de-completitud{
    
        box-sizing: border-box;
        height: 87px;
        width: 87px;
        border: 3px solid #19C6B7;
        border-radius: 50%;
        margin: 41.5px 0 0 65px;
        
    
} */
/* .porcentaje {
	height: 25px;
	width: 39px;
	opacity: 0.99;
	color: #777777;
	font-family: 'Avenir Next';
	font-size: 18px;
	font-weight: 500;
    line-height: 25px;
    padding: 31.5px 23.5px 30.5px 24.5px;
} */
.completa {
	height: 40px;
	width: 200px;
	opacity: 0.99;
	color: #A3A3A3;
	font-family: 'Avenir Next';
	font-size: 12px;
	font-weight: 300;
	letter-spacing: 0.1px;
    line-height: 16px;
    padding-left: 24.5px;
}


  
.circular-chart {
    display: block;
    margin: 10px 25%;
    width: 80px;
    height: 80px;
  }
  
  .circle {
    stroke: #4CC790;
    fill: none;
    stroke-width: 2.8;
    stroke-linecap: round;
    animation: progress 2s ease-out forwards;
  }
  
  @keyframes progress {
    0% {
      stroke-dasharray: 0 100;
    }
  }
  .editar {
	height: 30px;
	width: 80px;
	border-radius: 3px;
	background-color: #1EB2E8;
    box-shadow: 0.4px 1.4px 3px 0 rgba(0,0,0,0.39);
    color: #FFFFFF;	
    font-family: "Avenir Next";	
    font-size: 14px;	
    font-weight: 500;	
    line-height: 19px;
    border: none;
}

.info-personal {
	height: 16px;
	display:table;
	opacity: 0.99;
	color: #A3A3A3;
	font-family: 'Avenir Next';
	font-size: 12px;
	font-weight: 500;
    line-height: 16px;
    text-transform: uppercase;
}

.separador{

        /* box-sizing: border-box; */
        height: 1px;
        width: 100%;
      /*   border: 1px solid #D6D6D6; */

}
.dato-personal {
	height: 19px;
	display: table;
	color: #A3A3A3;
	font-family: "Avenir Next";
	font-size: 14px;
	font-weight: 500;
	line-height: 19px;
}

.titulo-dato-personal {
	height: 16px;
	display: table;
	opacity: 0.99;
	color: #A3A3A3;
	font-family: 'Avenir Book';
	font-size: 12px;
	font-weight: 500;
    line-height: 16px;
    text-transform: uppercase;
}
.titulo-pestañas{
   
        opacity: 0.99;
        color: #A3A3A3;
        font-family: 'Avenir Light';
        font-size: 10px;
        font-weight: 900;
        line-height: 14px;
        text-transform: uppercase;
        padding: 19px 15px;
    
}

.cambiar-contraseña{
    border-radius: 3px;	
    background-color: #FFFFFF;	
    box-shadow: 0.4px 1.4px 3px rgba(0,0,0,0.39);
    border: none;
    color: #4A4A4A;	
    font-family: "Avenir Next";	
    font-size: 14px;	
    font-weight: 500;	
    line-height: 19px;
}

label {
	opacity: 0.99;
	color: #A3A3A3;
	font-family: 'Avenir Light';
	font-size: 12px;
	font-weight: 500;
	line-height: 16px;
}
input::placeholder {

	color: #A3A3A3;
	font-family: "Avenir Next";
	font-size: 14px;
	line-height: 19px;
}


.activo {
  
	height: 3px;
	width: 100%;
	transform: scaleX(-1);
	border-radius: 0 0 4px 0;
    background-color: #1EB2E8;
    margin-top: -18px;
}

.email {
	height: 16px;
	display: table;
	opacity: 0.99;
	color: #A3A3A3;
	font-family: 'Avenir Book';
	font-size: 12px;
	font-weight: 500;
    line-height: 16px;
    text-transform: uppercase;
}

.telefono {
	height: 16px;
	display: table;
	opacity: 0.99;
	color: #A3A3A3;
	font-family: 'Avenir Book';
	font-size: 12px;
	font-weight: 500;
    line-height: 16px;
    text-transform: uppercase;
}

