
<p>SOY HOMERO CHINO</p>
<!--    
      <div class="container-fluid mt-5 pt-1 editar"> 
        <div class="row">
          <div class="col-sm-9 offset-1">
              <form (submit)="onUpdateSubmit()">
                  <h1>Editar información de tu perfil</h1>
                  <input class="form-control" [(ngModel)]="username" name="username" type="hidden" value="{{usuario.username}}">
                  <button routerLink="/usuarios/perfil" class="btn btn-primary"><i class="fas fa-chevron-circle-left"></i></button>
                  <div class="form-group row mt-3">
                    <label for="nombre" class="col-sm-3 col-form-label">Nombre</label>
                      <div class="col-sm-9">
                        <input class="form-control ml-2" [(ngModel)]="nombre" name="nombre" id="nombre" type="text" value="{{usuario.nombre}}">
                      </div>
                  </div>
                  <div class="form-group row mt-3">
                    <label for="apellido" class="col-sm-3 col-form-label">Apellido</label>
                      <div class="col-sm-9">
                        <input class="form-control ml-2" [(ngModel)]="apellido" name="apellido" id="apellido" type="text" value="{{usuario.apellido}}">
                      </div>
                  </div>
                  <div class="form-group row mt-3">
                    <label for="celular" class="col-sm-3 col-form-label">Celular</label>
                      <div class="col-sm-9">
                        <input class="form-control ml-2" [(ngModel)]="celular" name="celular" id="celular" type="tel" value="{{usuario.celular}}">
                      </div>
                  </div>
                  <div class="form-group row mt-3">
                    <label for="celular" class="col-sm-3 col-form-label">Fecha de nacimiento</label>
                      <div class="col-sm-9">
                        <input class="form-control ml-2" [(ngModel)]="fdenacimiento" name="fdenacimiento" id="fdenacimiento" type="text" value="{{usuario.fdenacimiento}}">
                      </div>
                  </div>
                  <div class="form-group row mt-3">             
                      <div class="col-sm-12">
                        
                        <input type="submit" class="btn btn-primary btn-block" value="Editar">
                        <flash-messages></flash-messages>
                      </div>
                  </div>
                
                </form>
          </div>
        </div>
      
        </div> -->