<div class="container-fluid resultados">
 
        <div class="container-fluid" style="margin-top: 44px;">     
		   <div class="row">
                <div class="col-12 col-md-3" style="margin-top:5px;margin-right:10px;">
                    <div class="row text-center">
                        <div routerLink="/resultados/calendario" routerLinkActive="activo" style="border-radius: 4px 0px 0px 0px;" class="col-md-5 tipo-vista">Calendario</div>
                        <div routerLink="/resultados/lista"  routerLinkActive="activo" style="border-radius: 0px 0px 0px 0px;" class="col-md-4 tipo-vista">Lista</div>
                        <div routerLink="/resultados/mapa"  routerLinkActive="activo" style="border-radius: 0px 4px 0px 0px;" class="col-md-3 tipo-vista">Mapa</div>
                    </div>
                    <div class="row filtros">
                        <div class="col-md-12 tipo-filtro align-self-center">
                            <div class="slider" style="position: relative;">
                                <nouislider #nouislider [config]="sliderConfig" [(ngModel)]="rangoPrecios"></nouislider>
                            </div>
                            
                        </div>
                        <hr class="separador">
                        <div class="col-md-12 tipo-filtro align-self-center">
                            Ubicación
                            <img class="flecha" src="../../../assets/images/iconos-buscador/flecha-azul.svg">
                        </div>
                        <hr class="separador">
                        <div class="col-md-12 tipo-filtro align-self-center">
                            Edad
                            <img class="flecha" src="../../../assets/images/iconos-buscador/flecha-azul.svg">
                        </div>
                        <hr class="separador">
                        <div class="col-md-12 tipo-filtro align-self-center">
                            Categorias
                            <img class="flecha" src="../../../assets/images/iconos-buscador/flecha-azul.svg">
                        </div>
                        <hr class="separador">
                        <div class="col-md-12 tipo-filtro align-self-center">
                            Precios
                            <img class="flecha" src="../../../assets/images/iconos-buscador/flecha-azul.svg">
                        </div>
                        <hr class="separador">
                        <div class="col-md-12 tipo-filtro align-self-center">
                            Proveedores
                            <img class="flecha" src="../../../assets/images/iconos-buscador/flecha-azul.svg">
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-8 lista-resultados" style="margin-top:5px;margin-right:10px;">
                   <div class="row">
                       <div class="col-12 col-md-8" align="center">
                            <h2 class="actividades-populares">
                                    Actividades populares
                                </h2>
                       </div>
                       <div class=" col 12 col-md-4" >
                               <div class="buscar">
                                    <input type="text" class=" buscar-actividad" [(ngModel)]="filtroActividadProveedor" name="filtroActividadProveedor" placeholder="Buscar por actividad o proveedor" style="padding-right: 30px;">
                                    <span aria-hidden="true" class="fas fa-search"></span>
                               </div> 
                    </div>
                      <hr class="separador">
                   </div>
                    <div class="row detalle-resultados-actividad" *ngFor="let actividad of actividadesPopulares">
                        <div class="col-md-3" style="margin-left:-15px;">
                                <img class="resultado-actividad-imagen" src='https://deporteysalud-static.hola.com/deporteparaninos/wp-content/uploads/sites/4/2014/03/hockey_para_los_mas_pequenos_descubrelo.jpg' alt="Card image cap">
                        </div>
                        <div class="col-md-3" style="padding-left: 0; margin-top:9px;">
                            <h2 class="titulo-actividad mb-0">
                                {{actividad?._id.nombre}}
                            </h2>
                            <p class="detalles-actividad mb-0">
                                {{actividad?.disponibilidad[0]?.proveedor.nombre}}
                            </p>
                            <p class="detalles-actividad mb-0">
                                Edad: {{actividad?.disponibilidad[0]?.edadMinima}} - {{actividad?.disponibilidad[0].edadMaxima}} años
                            </p>
                            <p class="direccion-actividad mb-0">
                                {{actividad?.disponibilidad[0]?.direccion}} {{actividad?.disponibilidad[0].numeroDireccion}}
                            </p>
                            <p class="detalles-actividad mb-0">
                                Precio normal: {{actividad?.disponibilidad[0]?.plista | currency:'':'':'1.0-0':'es-CL'}}
                            </p>
                        </div>
                        <div class="col-md-1" style="margin-top:9px;">
                            <div class="icono">
    
                            </div>
                        </div>
                        <div class="col-md-3" style="margin-top:9px;">
                            <h2 class="proximas-fechas mb-0">Proximas fechas</h2>
                            <div class="horario" *ngFor="let horario of actividad.disponibilidad | slice:0:5">                            
                                     <h2 class="fecha-texto mb-0">{{horario?.fechaInicio | date:'EEE d/M':'':'es-CL'}}</h2>
                                     <p class="fecha-horario mb-0">{{horario?.fechaInicio | date:'shortTime':'':'es-CL'}}</p>                             
                                        
                             </div>
                        </div>                      
                    </div>
       
        </div>
    </div>
    </div>
       
           
 </div>   