<div class="container-fluid">
    <div class="row text-center">
      <div class="col-12">
      <h2>Descarga la aplicación</h2>
      </div>
    </div>
    <div class="row justify-content-center align-items-center">
    <div class="col-4 ">
      <h6>Te mandamos un link a tu celular</h6>
      <input type="tel" class="form-control" placeholder="Ej: +569444444">
      <button type="submit" class="btn btn-primary btn-block">Enviar!</button>
      <div class="row">
      <div class="col-6">
        <img class="download" src="https://d19tb5uaenw7es.cloudfront.net/appstore.png">
      </div>
      <div class="col-6">
        <img class="download" src="https://d19tb5uaenw7es.cloudfront.net/google-play-badge.png">
      </div>
    </div>
    </div>

     
    </div> 
</div>