.download {
    width: 100%;
}

h2{
    font-family: 'Avenir Medium';
    color: rgb(29,29,27);
    text-transform: uppercase;
}

h6{
    font-family: 'Avenir Light';
    color: rgb(119,119,120);
}

.btn-primary{
    background-color: rgb(59,182,173);
    border: solid 0px;
    text-transform: uppercase;
    font-family: 'BrandonText-Bold' !important;
}