.iphone {
    width: 256px;
}

.android {
    width: 220px;
}

.text-container{
    padding: 10% 0;
}

.titulo{
    color: rgb(119,119,120);
    font-family: 'BrandonText-Bold';
    text-transform: uppercase;
}

.bajada {
    color: rgb(29,29,27);
    font-family: 'Avenir Light' !important;
}

.fondo{
    background-color: rgb(231,231,230);
}