<div class="container">
  <div class="row">
    <div class="col-md-3 col-sm-12 text-center">
      <img class="iphone" src="https://d19tb5uaenw7es.cloudfront.net/iPhone_discover.jpg">
    </div>
    <div class="col-md-3 col-sm-12 text-center">
      <img class="android" src="https://d19tb5uaenw7es.cloudfront.net/Nexus5_feed.jpg">
    </div>
    <div class="col-md-6 col-sm-12 text-container">
      <h2 class="titulo">Explora</h2>
      <p class="bajada">Lorem Ipsum ha sido el texto de relleno estándar de las industrias desde el año 1500</p>
    </div>
      
  </div>
</div>
<div class="container-fluid fondo">
  <div class="row">
    <div class="col-md-6 offset-3 col-sm-12 text-container">
      <h2 class="titulo">Personaliza</h2>
      <p class="bajada">Lorem Ipsum ha sido el texto de relleno estándar de las industrias desde el año 1500</p>
    </div>
    <div class="col-md-3 col-sm-12 text-center">
        <img class="iphone" src="https://d19tb5uaenw7es.cloudfront.net/iPhone_filter.jpg">
    </div>
      
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-3 offset-4 col-sm-12 text-container">
      <h2 class="titulo">Paga y reserva</h2>
      <p class="bajada">Lorem Ipsum ha sido el texto de relleno estándar de las industrias desde el año 1500</p>
    </div>
    <div class="col-md-3 col-sm-12 text-center">
        <img class="iphone" src="https://d19tb5uaenw7es.cloudfront.net/ipad_purchase.jpg?1520278646">
    </div>
    <div class="col-md-2 col-sm-12 text-center">
        <img class="iphone" src="https://d19tb5uaenw7es.cloudfront.net/iPhone_purchase.jpg">
    </div>
      
  </div>
</div>