$background-light: rgb(67, 20, 197);
$background-moredark: #4527A0;

@mixin zero-margin($pad-up-down, $pad-left-right) {
    margin: 0px auto;
    padding: $pad-up-down $pad-left-right;
}

h2{
    font-family: 'BrandonText-Bold';
    color: rgb(15, 65, 99);
    text-transform: uppercase;
}

.jumbotron {
    @include zero-margin(70px,30px);
    background: $background-light ;
    color:floralwhite;
    min-height: 150px;
}

.active {
    background: $background-moredark;
}

.navbar {
    position: fixed;
    top: 0;
    height: 70px;
    padding:0;
    z-index: 50;
    background-color: #FFFFFF; 
    }

.accion {
      padding: 10px 30px;
      height: 100%;
  }
  .accion:hover{
      color:#00b4f0 !important;
  }

  .credenciales {
      padding: 10px 10px;
  }
  .redondo{
      border-radius: 25px;
  }

  a {
      color: rgb(119,119,120);
      width: 100%;
      height: 100%;
      display: block;
  }
  a:hover {
      color: white;
      text-decoration: none;
  }
  .is-active > a {
    color:#00b4f0 !important;
  }

span:hover {
    a {
        color:white;
        text-decoration: none;
    }
}


    
.active-login {
    background-color: rgb(233,98,108) !important;
    a {
        color: floralwhite;
    }
}

button > a {
    /* color: #17a2b8; */
    width: 100%;
    height: 100%;
    display: block;

}

.nav-item{
    font-family: 'BrandonText-Regular';
    color: rgb(119,119,120);
    text-transform: uppercase;
}
.navbar-brand{
    padding-top: 10px !important;
    margin-left: 10%;
}

.btn{
 
    font-family: 'Avenir Next';
    font-size: 13px;
    padding: 0.15rem 0;
    font-weight: 500;	
  }




.hr-text {
    line-height: 1em;
    position: relative;
    outline: 0;
    border: 0;
    color: black;
    text-align: center;
    height: 1.5em;
    opacity: .5;
    &:before {
      content: '';
      // use the linear-gradient for the fading effect
      // use a solid background color for a solid bar
      background: linear-gradient(to right, transparent, #818078, transparent);
      position: absolute;
      left: 0;
      top: 50%;
      width: 100%;
      height: 1px;
    }
    &:after {
      content: attr(data-content);
      position: relative;
      display: inline-block;
      color: black;
  
      padding: 0 .5em;
      line-height: 1.5em;
      // this is really the only tricky part, you need to specify the background color of the container element...
      color: #818078;
      background-color: #fcfcfa;
    }
  }
 
  p{
      font-family: 'Avenir Next';
      font-size: 8px;
  }
 
  .div p {
    font-family: 'Avenir Next';
    font-size: 8px; 
  }

  .ingreso{
    height: 0.67%;	
    width: 120px;	
    border: 1px solid #777777;
    border-radius: 15px;  
    color: #777777;   
    background-color: #FFFFFF;
}

.ingreso:hover{
    background-color: #777777;
    color: #FFFFFF;
}

.registro{
    border-radius: 15px;	
    background-color: #1EB2E8;
    height: 26px;	
    width: 120px;
    border: none;
}

.registro:hover {
    background-color: #777777;
    color: #FFFFFF;
}
  
.bg-promo-top {
        height: 43px;
        width: 100%;	
        background-color: #19C6B7;
        z-index: 40;
        position: fixed;
        top: 70px;
        left: 0;
    }

    .creditos {
        height: 31px;
        width: 100px;
        border-radius: 2px;
        background-color: #F3F3F3;
    }

    .balance {
        height: 19px;
        width: 49px;
        color: #F56A80;
        font-family: "Avenir Next";
        font-size: 13px;
        font-weight: 600;
        letter-spacing: 0.11px;
        line-height: 18px;
        margin: 0;
      }

    .cantidad {
        height: 30px;
        width: 17px;
        color: #F56A80;
        font-family: "Avenir Next";
        font-size: 12px;
        font-weight: bold;
        letter-spacing: 0.1px;
        line-height: 16px;
    }

    .notificaciones{
        margin-left: 17px;
        padding-bottom: 12px;
        
    }
    .nombre {
        height: 30px;
        width: 62px;
        color: #4A4A4A;
        font-family: "Avenir Next";
        font-size: 12px;
        font-weight: 500;
        letter-spacing: 0.1px;
        line-height: 16px;
        margin-left: 3px;
    }
    .dropdown-item{
        border: 1px solid #EBEBEB;
        text-align: center;
      /*   height: 100%; */
        height: 44px;
        width: 100%;
        color: #4A4A4A;
        font-family: "Avenir Next";
        font-size: 12px;
        font-weight: 500;
        letter-spacing: 0.1px;
        line-height: 16px;
        text-align: center;
        
    }
    .dropdown-menu{
        border:none;
        padding: 0 0;    
    
       
        
    }
    .dropdown-toggle::after {
        display:none;
    }
	
	.navbar-brand{
	margin:auto;
	}
	
	@media (min-width: 768px) {
    .navbar-brand{
	margin-left:10%;
	}

 
      }