<div class="actividades container-fluid">
  <div class="row">
    <div class="col-sm-12">
       
      
    <div class="card mt-2">
        <div class="card-header">
            <strong>Actividades</strong>
            <div class="row">
              <div class="col-sm-2">
                <button class="btn btn-info btn-block">Historial</button>
              </div>
              <div class="col-sm-2">
                <button class="btn btn-primary btn-block">Próximas</button>
              </div>
              <div class="col-sm-2">
                  <button class="btn btn-info btn-block">Favoritos</button>
              </div>
            </div>
          </div>
			<div class="container-fluid">
				<div class="wrapper row">
					<div class="preview col-md-6">
						
						<div class="preview-pic tab-content">
						  <div class="tab-pane active" id="pic-1"><img src="https://mamasmiles.com/media/2014/d99f21a60fad_11B28/easy-toddler-activities-sticker-fun.jpg" /></div>
					  </div>
					
						
					</div>
					<div class="details col-md-6">
						<h3 class="product-title">Taller de pintura</h3>
						<div class="rating">
							<div class="stars">
								<span class="fa fa-star checked"></span>
								<span class="fa fa-star checked"></span>
								<span class="fa fa-star checked"></span>
								<span class="fa fa-star"></span>
								<span class="fa fa-star"></span>
							</div>
							<span class="review-no">41 reviews</span>
						</div>
						<p class="product-description">Suspendisse quos? Tempus cras iure temporibus? Eu laudantium cubilia sem sem! Repudiandae et! Massa senectus enim minim sociosqu delectus posuere.</p>
						<h4 class="price">Precio <span>$18.000</span></h4>
						<h4 class="price">Fecha <span>12/03/2018</span></h4>
						<p class="vote"><strong>91%</strong> de los compradores recomienda este producto! <strong>(87 votos)</strong></p>
			
						<div class="action">
							<button class="comprobante btn btn-default" type="button">Detalles</button>						
							<button class="like btn btn-default" type="button"><span class="fas fa-heart"></span> Agrega a favoritos</button>
              <button class="cancelar btn btn-danger" type="button">Cancelar</button>
            </div>
					</div>
				</div>
			</div>
		</div>
          </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
          <div class="card">
              <div class="card-header">
                Mis reviews
              </div>
              <div class="card-body">
                <blockquote class="blockquote mb-0">
                  <p>Increible actividad. 100% recomendada</p>
                  <footer class="blockquote-footer">Taller de pintura de <cite title="Source Title">Mattel</cite></footer>
                  <div class="rating">
                      <div class="stars">
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                      </div>
                  </div>
                </blockquote>
                <blockquote class="blockquote mb-0">
                  <p>Pesimo</p>
                  <footer class="blockquote-footer">Taller de pintura de <cite title="Source Title">Hasbro</cite></footer>
                  <div class="rating">
                      <div class="stars">
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                      </div>
                  </div>
                </blockquote>
              </div>
            </div>
      </div>
   
    </div>
 
</div>

