<div class="container-fluid resultados">
 
        <div class="container-fluid" style="margin-top: 44px;">  
		    <div class="row">
                <div class=" col-12 col-md-3 offset-md-1 paddingActividades" style="margin-top:15px">
                    <div class="row text-center">
                        <div routerLink="/resultados/calendario" style="border-radius: 4px 0px 0px 0px;" routerLinkActive="activo" class="col-4 col-md-4 tipo-vista">Calendario</div>
                        <div routerLink="/resultados/lista"  style="border-radius: 0px 0px 0px 0px;" routerLinkActive="activo" class="col-4 col-md-4 tipo-vista">Lista</div>
                        <div routerLink="/resultados/mapa"  style="border-radius: 0px 4px 0px 0px;" routerLinkActive="activo" class="col-4 col-md-4 tipo-vista">Mapa</div>
                    </div>
                    <div class="row filtros">
                        <div class="col-md-12 tipo-filtro align-self-center">
                            <div class="slider" style="position: relative;">
                                <nouislider #nouislider [config]="sliderConfig" [(ngModel)]="rangoPrecios"></nouislider>
                            </div>
                            
                        </div>
                        <hr class="separador">
                        <div class="col-md-12 tipo-filtro align-self-center">
                            Ubicación
                            <img class="flecha" src="../../../assets/images/iconos-buscador/flecha-azul.svg">
                        </div>
                        <hr class="separador">
                        <div class="col-md-12 tipo-filtro align-self-center">
                            Edad
                            <img class="flecha" src="../../../assets/images/iconos-buscador/flecha-azul.svg">
                        </div>
                        <hr class="separador">
                        <div class="col-md-12 tipo-filtro align-self-center">
                            Categorias
                            <img class="flecha" src="../../../assets/images/iconos-buscador/flecha-azul.svg">
                        </div>
                        <hr class="separador">
                        <div class="col-md-12 tipo-filtro align-self-center">
                            Precios
                            <img class="flecha" src="../../../assets/images/iconos-buscador/flecha-azul.svg">
                        </div>
                        <hr class="separador">
                        <div class="col-md-12 tipo-filtro align-self-center">
                            Proveedores
                            <img class="flecha" src="../../../assets/images/iconos-buscador/flecha-azul.svg">
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-7 lista-resultados marginActividades" style="margin-top:15px;">
                        <div #gmap id="map" style="border: 1px solid #C8C8C8;">
                            </div>  
       
                </div>
      </div>
    </div>
       
           
</div>    

  