<nav class="navbar navbar-default fixed-top" style="background-color: #fff;">
    <a class="navbar-brand" style="width: 15%;" routerLink="/"><img width="60%" height="8%" class="align-top" src="/../assets/images/logo.png">
    Proveedores
    </a>    
    <span class="flex-spacer"></span> 
    <button routerLink="/proveedores/login" style="color: rgb(119,119,120); border: solid 1px grey;" class="btn btn-outline-light">Login</button>
    <button class="btn btn-primary">Registrarse</button>
   </nav>
   
<div class="seccion-proveedores">
    <div class="main">
      <div class="row">
        <div class="col-sm-12 centrado pt-5">
          
            <h2>AUMENTA TUS CLIENTES CON ENTREKIDS</h2>                   
          
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6 offset-3 centrado pt-5">
              <p  style="color: floralwhite;">Lorem Ipsum ha sido el texto de relleno estándar de las industrias desde el año 1500, cuando un impresor
                  (N. del T. persona que se dedica a la imprenta) desconocido usó una galería de textos </p>
          </div>
        </div>
    </div>
  </div>

<hr class="featurette-divider">

        <div class="row featurette-verde pt-5">
          <div class="col-md-7 text-center">
            <h2 class="claro">Llega a más padres con versiones móviles <br> <span class="muteado">¡No te arrepentirás!</span></h2>
            <p class="lead mt-3" style="color: floralwhite;">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
          </div>
          <div class="col-md-5">
            <img class="featurette-image img-fluid mx-auto" src="https://d19tb5uaenw7es.cloudfront.net/iPhone_preview.png" alt="Generic placeholder image">
          </div>
        </div>

        <hr class="featurette-divider">

        <div class="row featurette-gris pt-5">
          <div class="col-md-7 order-md-2 text-center">
            <h2 class="oscuro">Muestrate <br> <span class="muteado-claro">¡Personaliza tu negocio!</span></h2>
            <p class="lead mt-3" style="color: rgb(119,119,120);">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
          </div>
          <div class="col-md-5 order-md-1">
            <img class="featurette-image img-fluid mx-auto" src="https://s3.amazonaws.com/galore-assets/iPhone_instructor.png" alt="Generic placeholder image">
          </div>
        </div>

        <hr class="featurette-divider">

        <div class="row featurette-verde pt-5">
          <div class="col-md-7 text-center">
            <h2 class="claro">Máxima flexibilidad <br> <span class="muteado">¡Tienes el control!</span></h2>
            <p class="lead mt-3" style="color: floralwhite;">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
          </div>
          <div class="col-md-5">
            <img class="featurette-image img-fluid mx-auto" src="https://d19tb5uaenw7es.cloudfront.net/macbook_preview.png" alt="Generic placeholder image">
          </div>
        </div>

        <hr class="featurette-divider">

      
        <div class="container-fluid beneficios">
          
          <div class="row">
            <div class="col-sm-12 text-center">
              <h2>Haz crecer tu negocio y obten mayores márgenes</h2>
            </div>
          </div>
          <div class="container mt-4 text-center">
            <div class="row">
              <div class="col-sm-4">
                <span class="fas fa-users fa-5x"></span>
                <h4>Ingresa a una comunidad con clientes de alta calidad</h4>
                <p class="texto-beneficios">Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto</p>
              </div>
              <div class="col-sm-4">
                <span class="fas fa-briefcase fa-5x"></span>
                <h4>Muestra tu portafolio de servicios</h4>
                <p class="texto-beneficios">Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto</p>
              </div>
              <div class="col-sm-4">
                <span class="fas fa-mobile fa-5x"></span>
                <h4>Tecnología amigable con el usuario</h4>
                <p class="texto-beneficios">Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto</p>
              </div>
             
            </div>
          </div>
        </div>


          
        <div class="beneficios2 centrado">
            <div class="row mt-4 text-center">
              <div class="col-sm-6">
                <span class="fas fa-money-bill-alt fa-5x"></span>
                <h4>144.229</h4>
                <p class="texto-beneficios">Transacciones realizadas</p>
              </div>
              <div class="col-sm-6">
                <span class="fas fa-clipboard-list fa-5x"></span>
                <h4>12.648</h4>
                <p class="texto-beneficios">Servicios publicados</p>
              </div>
          </div>
            
             
            </div>
          <div class="pricing">
            <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
                <h1 class="display-4">Pricing</h1>
                <p class="lead price-lead">Quickly build an effective pricing table for your potential customers with this Bootstrap example. It's built with default Bootstrap components and utilities with little customization.</p>
              </div>          
          
                <div class="card-deck mb-3 text-center">
                  <div class="card mb-4 box-shadow">
                    <div class="card-header">
                      <h4 class="my-0 font-weight-normal">Free</h4>
                    </div>
                    <div class="card-body">
                      <h1 class="card-title pricing-card-title">$0 <small class="text-muted">/ mo</small></h1>
                      <ul class="list-unstyled mt-3 mb-4">
                        <li>10 users included</li>
                        <li>2 GB of storage</li>
                        <li>Email support</li>
                        <li>Help center access</li>
                      </ul>
                      <button type="button" class="btn btn-lg btn-block btn-outline-primary">Sign up for free</button>
                    </div>
                  </div>
                  <div class="card mb-4 box-shadow">
                    <div class="card-header">
                      <h4 class="my-0 font-weight-normal">Pro</h4>
                    </div>
                    <div class="card-body">
                      <h1 class="card-title pricing-card-title">$15 <small class="text-muted">/ mo</small></h1>
                      <ul class="list-unstyled mt-3 mb-4">
                        <li>20 users included</li>
                        <li>10 GB of storage</li>
                        <li>Priority email support</li>
                        <li>Help center access</li>
                      </ul>
                      <button type="button" class="btn btn-lg btn-block btn-primary">Get started</button>
                    </div>
                  </div>
                  <div class="card mb-4 box-shadow">
                    <div class="card-header">
                      <h4 class="my-0 font-weight-normal">Enterprise</h4>
                    </div>
                    <div class="card-body">
                      <h1 class="card-title pricing-card-title">$29 <small class="text-muted">/ mo</small></h1>
                      <ul class="list-unstyled mt-3 mb-4">
                        <li>30 users included</li>
                        <li>15 GB of storage</li>
                        <li>Phone and email support</li>
                        <li>Help center access</li>
                      </ul>
                      <button type="button" class="btn btn-lg btn-block btn-primary">Contact us</button>
                    </div>
                  </div>
                </div>