<h2 class="text-center mb-0">Revisa nuestros lugares destacados</h2>
<div class="container-fluid fondo">  
  <div class="row">
    <div class="col-sm-12">
  <div class="card-deck ml-0">
    <div class="card">
      <img class="card-img-top" src="http://www.familius.com//Data/Sites/1/ProductFiles/activities-to-help-children-copejpg/activities-to-help-children-cope.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Taller de plasticina</h5>
        <p class="card-text">Aprende a crear entretenidas figuras con este taller especializado </p>
        <br><br>
        <p class="card-text">Edades: 3-4 años</p>
        <p class="card-text">Precio: $7.990/niño</p>
        <p class="card-text"><a href="#">Ver más detalles</a></p>
        <app-ngdb-rating-decimal></app-ngdb-rating-decimal>
      </div>
      <div class="card-footer">
        <small class="text-muted">Last updated 3 mins ago</small>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="http://www.lsbu.ac.uk/__data/assets/image/0003/55686/kids-activities.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Taller de baile</h5>
        <p class="card-text">Los talleres están pensados para ser una experiencia que permita a los jóvenes introducirse en la disciplina de la danza. </p>
        <p class="card-text">Edades: 5-6 años</p>
        <p class="card-text">Precio: $13.990/niño</p>
        <p class="card-text"><a href="#">Ver más detalles</a></p>
        <app-ngdb-rating-decimal></app-ngdb-rating-decimal>
      </div>
      <div class="card-footer">
        <small class="text-muted">Last updated 3 mins ago</small>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="http://www.familius.com//Data/Sites/1/ProductFiles/activities-to-help-children-copejpg/activities-to-help-children-cope.jpg" alt="Card image cap">
      <div class="card-body">
          <h5 class="card-title">Taller de plasticina</h5>
          <p class="card-text">Aprende a crear entretenidas figuras con este taller especializado </p>
          <br><br>
          <p class="card-text">Edades: 3-4 años</p>
          <p class="card-text">Precio: $7.990/niño</p>
          <p class="card-text"><a href="#">Ver más detalles</a></p>
          <app-ngdb-rating-decimal></app-ngdb-rating-decimal>
      </div>
      <div class="card-footer">
        <small class="text-muted">Last updated 3 mins ago</small>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="http://www.lsbu.ac.uk/__data/assets/image/0003/55686/kids-activities.jpg" alt="Card image cap">
      <div class="card-body">
          <h5 class="card-title">Taller de baile</h5>
          <p class="card-text">Los talleres están pensados para ser una experiencia que permita a los jóvenes introducirse en la disciplina de la danza. </p>
          <p class="card-text">Edades: 5-6 años</p>
          <p class="card-text">Precio: $13.990/niño</p>
          <p class="card-text"><a href="#">Ver más detalles</a></p>
          <app-ngdb-rating-decimal></app-ngdb-rating-decimal>
      </div>
      <div class="card-footer">
        <small class="text-muted">Last updated 3 mins ago</small>
      </div>
    </div>
  </div>
  </div>
</div>
</div>