h2 {
    color: floralwhite;
    font-family: 'BrandonText-Bold';
    text-transform: uppercase;
    background-color: rgb(59,182,173);
}
.card-title {
    color: rgb(119,119,120);
}
.card-text {
    color: rgb(29,29,27);
    font-family: 'Avenir Light' !important;
    font-size: 14px;
}

.lugares {
    background: rgba(192, 187, 187, 0.897);
}

.fondo {
    background-color: rgb(231,231,230);
}

h5{  
    font-family: 'BrandonText-Bold';
    text-transform: uppercase;
}