<div class="container"> 
<div class="col-md-7 pestañas offset-md-5">
  <div class="row text-center">
    <div routerLink="/usuarios/perfil" routerLinkActive="activo" class="col-2">
      <h2 class="titulo-pestañas"><img src="/../../assets/images/iconos-perfil/perfil.svg"> Perfil</h2>   
    </div>
    <div routerLink="/usuarios/hijos" routerLinkActive="activo" class="col-2">
        <h2 class="titulo-pestañas"><img src="/../../assets/images/iconos-perfil/niños.svg"> Niños</h2>
    </div>
    <div routerLink="/usuarios/cuidadores" routerLinkActive="activo" class="col-3">
        <h2 class="titulo-pestañas"><img src="/../../assets/images/iconos-perfil/cuidadores.svg"> Cuidadores</h2>
    </div>
    <div routerLink="/usuarios/pago" routerLinkActive="activo" class="col-2">
        <h2 class="titulo-pestañas"><img src="/../../assets/images/iconos-perfil/pago.svg"> Pago</h2>
    </div>
    <div routerLink="/usuarios/notificaciones" routerLinkActive="activo" class="col-3">
        <h2 class="titulo-pestañas"><img src="/../../assets/images/iconos-perfil/notificaciones.svg"> Notificaciones</h2>
    </div>
  </div>
</div>    
